// /* Color styles */
// $lightblue: rgb(218, 233, 254);
// $blacktext: rgb(63, 54, 59);
// $bluetext: rgb(24, 71, 132);
// $colorred: red;

// $basefont: "Roboto", sans-serif;

// COLORS
$bg-color: #d48f38;
$bg-found: #212529;
$text-color: #333;

//Typography
$main-font: 'Montserrat', sans-serif;